1. Как проверить, что все элементы одного списка больше соответствующих элементов другого списка?

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = [4, 5, 6, 0, 1]

def compare(list1, list2):
  for x, y in zip(list1, list2):
    if x <= y:
      return False
  return True

print(compare(b, a))
print(compare(c, a))

True
False

2. Как проверить, что все элементы одного списка больше всех элементов другого списка?

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = [4, 5, 6, 0, 1]

def compare_2(list1, list2):
  return min(list1) > max(list2)

print(compare_2(b, a))
print(compare_2(b, c))

True
False

3. Написать функцию, которая принимает на вход целое число n и выводит на экран "ёлочку" из звёздочек высотой n.

In [ ]:
#          * 1 2 * i + 1
#         *** 3
#        ***** 5
#       *******
#      *********
#     ***********
#    *************
#   ***************
#  *****************
# ******************* 0

In [ ]:
def tree(n):
  for i in range(n):
    print((n - (i + 1)) * " " + (2 * i + 1) * "*")

tree(15)

              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************
*****************************